body {
	margin: 0;
}

nav {
	background-color: grey;
	height: 30px;
}

ul {
	background-color: grey;
}

li {
	display: inline;
}

li a {
	color: white;
	text-align: center;
}

a {
	text-decoration: none;
}

a:hover {
	color: grey;
}

header {
	background-color: black;
	height: 200px;

}

div {
	background-color: lightgrey;
	height: 200px;
	width: 33%;
	display: inline-block;
}

footer {
	background-color: black;
}